

.cardList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 32px 20px;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .cardList {
        grid-template-columns: repeat(auto-fit, 339px);
        width: 100%;
        gap: 36px 30px;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .cardList {
        grid-template-columns: 1fr;
        gap: 36px 30px;
        width: 300px;

    }
}
