.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__button {
    width: 100%;
    min-height: 45px;
    background-color: #3456F3;
    border-radius: 3%;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 221px auto 16px;
}

.form__button_popup {
    margin-top: 40px;
}

.form__button_disabled {
    opacity: 0.2;
    pointer-events: none;
}