
.about-me {
    margin: 0 5.5vw;
}

.about-me__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 66px;
}

.about-me__information-text {
    display: flex;
    flex-direction: column;
}

.about-me__name {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0 0 18px;
}

.about-me__annotation {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px;
}

.about-me__description {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    width: 46.88vw;
    margin: 0 49px 99px 0;
}

.about-me__photo {
    max-width: 270px;
    max-height: 327px;
    object-fit: cover;
    border-radius: 10px;
}

.about-me__social {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.about-me__social-linc {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    transition: opacity 0.3s;
}

.about-me__social-linc:hover {
    opacity: 0.4;
}

.about-me__portfolio-title {
    margin: 0 0 50px 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.about-me__portfolio {
    display: flex;
    flex-direction: column;
}

.about-me__portfolio-linc {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    height: 69px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
    background: url(../../images/arrow.svg) no-repeat center right;
    transition: opacity 0.3s;
}

.about-me__portfolio-linc:hover {
    opacity: 0.4;
}
.about-me__portfolio-linc:last-of-type {
    border-bottom: 0;
    margin-bottom: 125px;
}

@media screen and (max-width: 1000px) {
    .about-me {
        margin: 0 50px;
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .about-me__annotation {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .about-me__description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
    }

    .about-me__social {
        margin-bottom: 90px;
    }

    .about-me__social-linc {
        font-size: 14px;
        line-height: 17px;
    }

    .about-me__portfolio-linc {
        font-size: 28px;
        line-height: 50px;
    }

    .about-me__portfolio-linc:last-of-type {
        margin-bottom: 90px;
    }

    .about-me__photo {
        max-width: 255px;
        max-height: 307px;
    }

}

@media screen and (max-width: 560px) {
    .about-me {
        margin: 0 14px;
    }

    .about-me__information {
        flex-direction: column-reverse;
        margin-top: 60px;
    }

    .about-me__information-text {
        margin-top: 40px;
    }
    .about-me__name {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .about-me__annotation {
        margin-bottom: 20px;
        font-size: 11px;
        line-height: 16px;

    }
    .about-me__description {
        font-size: 11px;
        line-height: 16px;
        width: 100%;
        margin: 0 0 40px 0;
    }

    .about-me__social-linc {
        font-size: 14px;
    }

    .about-me__photo {
        min-width: 292px;
        min-height: 352px;
        align-self: center;
    }

    .about-me__portfolio-linc {
        font-size: 18px;
        line-height: 28px;
        background-position: top right;
    }

    .about-me__portfolio-linc:last-of-type {
        margin-bottom: 70px;
    }
}
